body {
    font: 20px;
}

#canvasWrapper {
    position: relative;
    min-height: 500px;
    top: 2em;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid black;
}

#visualisation {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#answerWrapper {
    position: relative;
    padding: 30px;
}